<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="pattern_file">%d{yyyy-MM--dd HH:mm:ss} [%t] %-5level %logger{5} -%msg%n</property>
        <property name="pattern_console">%relative [%t] %-5level %logger{5} - %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}" />
        </Console>
        <File name="FileAppender" fileName="logger-${date:ddMMyyyy}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>